<ion-header>
  <ion-toolbar>
    <!-- <ion-buttons slot="start" (click)="back()">
        <ion-icon color="medium" size="large" name="ios-arrow-back"></ion-icon>
    </ion-buttons> -->
    <ion-buttons slot="start">
      <ion-back-button color="medium" defaultHref="/profil"></ion-back-button>
    </ion-buttons>
    <ion-title>Kata Sandi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <ion-item>
    <ion-label position="stacked">Pasword Lama</ion-label>
    <ion-input type="password" name="pass" [(ngModel)]="form.pasb"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Pasword Baru</ion-label>
    <ion-input type="password" name="pass" [(ngModel)]="form.pasn"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Konfirmasi Password</ion-label>
    <ion-input type="password" name="pass" [(ngModel)]="form.pasc"></ion-input>
  </ion-item>
  <br>
  <ion-button expand="full" color="danger" (click)="gantimodal()">Ubah Kata Sandi</ion-button>
  
</ion-content>
