<ion-header>
  <ion-toolbar>
    <ion-button slot="start" size="small" color="light" (click)="back()"><ion-icon name="ios-arrow-back"></ion-icon></ion-button>
    <ion-title>No. {{y}}</ion-title>
    <ion-button slot="end" size="small" color="light" (click)="next()"><ion-icon name="ios-arrow-forward"></ion-icon></ion-button>
    <ion-button slot="end" size="small" color="light" (click)="finish()"><ion-icon name="ios-checkmark"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-header>
    <ion-card-title>{{soal.quest}}</ion-card-title>
  </ion-card-header>
  <ion-card-content>

  </ion-card-content>
</ion-content>
