<ion-header>
  <ion-toolbar>
    <ion-button slot="start" size="small" fill="clear" (click)="back()"><ion-icon name="ios-arrow-back"></ion-icon></ion-button>
    <ion-title>No {{index}}</ion-title>
    <ion-button slot="end" size="small" fill="clear" (click)="next()"><ion-icon name="ios-arrow-forward"></ion-icon></ion-button>
    <ion-button slot="end" size="small" fill="clear" color="success" (click)="finish()"><ion-icon name="ios-checkmark"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-slides #slides>
<ion-slide *ngFor="let sl of soal; let iSoal = index" >
  <ion-card class="welcome-card">
  <ion-card-header color="primary">
    <!-- <img src="{{sl.gambat}}" ngIf=""> -->
    <ion-card-subtitle>{{sl.quest}}</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>

      <ion-item *ngIf="sl.type == 1">
        <ion-textarea [(ngModel)]="sl.jawaban">
        </ion-textarea>
      </ion-item>

      <ion-list *ngIf="sl.type == 2">
        <ion-radio-group name="auto">
          <ion-item *ngFor="let jwb of sl.jawaban; let iJwb = index" >
            <ion-label>{{jwb.pilihan}}</ion-label>
            <ion-radio value="{{jwb.pilihan}}" mode="md" (click)="pilihanGanda(iSoal, iJwb)" checked="{{jwb.selected}}"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
  
      <ion-list *ngIf="sl.type == 3" >
        <ion-item *ngFor="let jwb of sl.jawaban" >
          <ion-label>{{jwb.pilihan}}</ion-label>
          <ion-checkbox [(ngModel)]="jwb.selected" (ionChange)="multiChoice()"></ion-checkbox>
        </ion-item>
      </ion-list>
  
  </ion-card-content>
</ion-card>
</ion-slide>
</ion-slides>
</ion-content>