<ion-header>
  <ion-toolbar>
    <ion-button slot="start" size="small" fill="clear" (click)="back()"><ion-icon name="ios-arrow-back"></ion-icon></ion-button>
    <ion-title>No. {{y}}</ion-title>
    <ion-button slot="end" size="small" fill="clear" (click)="next()"><ion-icon name="ios-arrow-forward"></ion-icon></ion-button>
    <ion-button slot="end" size="small" fill="clear" color="success" (click)="finish()"><ion-icon name="ios-checkmark"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-header>
    <ion-card-subtitle>{{soal.quest}}</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <div *ngIf="soal.kind == 1">
      <ion-item>
        <ion-label position="floating">Jawab</ion-label>
        <ion-textarea name="jwb" [(ngModel)]="jawaban" rows="6" cols="20" placeholder="Tulis Jawaban"></ion-textarea>
      </ion-item>
    </div>
    <div *ngIf="soal.kind == 2">
      <ion-list>
      <ion-radio-group allow-empty-selection>
      <ion-item *ngFor="let cat of answer">
        <ion-label>{{cat.text}}</ion-label>
        <ion-radio slot="end" name="{{y}}" value="{{cat.key}}"></ion-radio>
      </ion-item>
      </ion-radio-group>
      </ion-list>
    </div>
    <div *ngIf="soal.kind == 3">
      <ion-item *ngFor="let cat of answer">
        <ion-label>{{cat.text}}</ion-label>
        <ion-checkbox slot="end" name="{{y}}" value="{{cat.key}}"></ion-checkbox>
      </ion-item>
    </div>
  </ion-card-content>
</ion-content>
