<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-card-header color="primary">
        <ion-card-title>Selamat Datang</ion-card-title>
        <ion-card-subtitle>Silahkan Cek profil Anda</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>Nama: {{(detail?.nama.length>24)? (detail?.nama | slice:0:24)+'..':(detail?.nama)}}</p>
        <p>Nim: {{detail?.nim}}</p>
        <p>Kelas: {{detail?.kelas}}</p>
        <!-- Data_soal -->
        <p *ngIf="readysoal">Pelajaran: {{(readysoal?.mapel.length>24)? (readysoal?.mapel | slice:0:24)+'..':(readysoal?.mapel)}}</p>
        <p *ngIf="readysoal">Waktu: {{readysoal?.waktu}} Menit</p>
        <p *ngIf="readysoal">Dosen: {{(readysoal?.dosen.length>24)? (readysoal?.doesn | slice:0:24)+'..':(readysoal?.dosen)}}</p>
        <ion-card-subtitle *ngIf="!readysoal" color="medium"><i>Soal Belum tersedia</i></ion-card-subtitle>
        <br>
        <ion-button expand="full" color="primary" *ngIf="readysoal"  (click)="beginexam()">Mulai Ujian!</ion-button>
        <ion-button expand="full" color="primary" *ngIf="hasil && !readysoal"  (click)="showhasil()">Hasil Ujian Terakhir</ion-button>
      </ion-card-content>
    </ion-card>

</ion-content>